<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta property="og:title" content="john provencher">
    <meta property="og:description" content="...">
    <meta property="og:image" content="fav-large.png">
    <meta property="og:url" content="https://www.johnprovencher.com.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="fav.png">
    <meta name="twitter:title" content="john provencher">
    <meta name="twitter:description" content="...">
    <meta name="twitter:image" content="fav-large.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="assets/fav-large.png">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type="text/javascript" src="assets/lozad.js"></script>
</head>
<body>
    {{ content | safe }}
    <script src="script.js"></script>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
    </script>
</body>

</html>