<div class="info-grid" id="footer">
    <div class="column" style="opacity: .6">
        <p class="small grey">
        john provencher<br>
        <span id='timex' class='small'></span><br>
        </p>
    </div>
    <div class="column">
        <p class="small grey">
            <a href="mailto: johnprovencher@gmail.com" class="small">↳johnprovencher@gmail.com</a><br>
            <a href="https://www.instagram.com/johnprovencher/" class="small">↳@johnprovencher</a><br>
            <a href="https://twitter.com/hahajohnx" class="small" target="blank">↳@hahajohnx</a><br>
            <a href="/posts/" class="small">↳download-media</a><br>

        </p>
    </div>
    <div class="column">
        <label class="switch">
            <input tabindex="-1" type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
            <br><br>
        </label>
    </div>
</div>
