<div class="info-grid" id="footer">
    <div class="column">
        <p class="small grey">john provencher 2023</p>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="column">
        <p class="small grey">
            <a href="" class="small">johnprovencher@gmail.com</a><br>
            <a href="" class="small">@johnprovencher</a><br>
            <a href="" class="small">@hahajohnx</a>
        </p>
    </div>
    <div class="column">
    </div>
</div>