<div class="info-grid" id="footer">
    <div class="column">
        <p class="small grey"  style="opacity:.6">
        john provencher<br>
        <span id='timex' class='small'></span><br>
        </p>
        <a href="/posts/" class="small">↳download-media</a><br>
    </div>
    <div class="column">
        <p class="small grey"  style="opacity:.6">
        contact<br>
        </p>
        <p class="small grey">
            <a href="mailto: johnprovencher@gmail.com" class="small">↳johnprovencher@gmail.com</a><br>
            <a href="https://www.instagram.com/johnprovencher/" class="small">↳@johnprovencher</a><br>
            <a href="https://twitter.com/hahajohnx" class="small" target="blank">↳@hahajohnx</a><br>
        </p>
    </div>
    <div class="column">
        <p class="small grey"  style="opacity:.6">
        background<br>
        </p>
        <label class="switch" style="display:none">
            <input tabindex="-1" type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
            <br><br>
        </label>
    </div>
</div>
