    @font-face {
        font-family: "Superstudio";
        src: url("./assets/superstudio-heavy.woff") format("woff");
    }

    /* Disable text and element highlighting for all elements */
    body {
        -webkit-touch-callout: none;
        /* Disable callout (long-press) on iOS Safari */
        -webkit-user-select: none;
        /* Disable text selection on iOS Safari */
        -moz-user-select: none;
        /* Disable text selection on Firefox */
        -ms-user-select: none;
        /* Disable text selection on Internet Explorer/Edge */
        user-select: none;
        /* Disable text selection on other browsers */
    }

    /* Optional: Enable text selection for specific elements */
    .allow-select {
        -webkit-touch-callout: initial;
        /* Enable callout (long-press) on iOS Safari */
        -webkit-user-select: text;
        /* Enable text selection on iOS Safari */
        -moz-user-select: text;
        /* Enable text selection on Firefox */
        -ms-user-select: text;
        /* Enable text selection on Internet Explorer/Edge */
        user-select: text;
        /* Enable text selection on other browsers */
    }

    body {
        margin: 0;
        padding: 0;
        background-color: black;
        height: 100%;
        overscroll-behavior: none;
        color: white;
    }

    * {
        font-family: Superstudio;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        letter-spacing: -3.5%;
        line-height: 1.3;
        text-transform: lowercase;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .small {
        font-size: 11px;
        line-height: 14.3px;
        letter-spacing: 4%;
        text-transform: uppercase;
        margin-bottom: 8px;

    }

    #slide-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
    }

    #slideshow {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .slide {
        position: absolute;
        transition: .2s ease;
        transition: .0s ease;
        text-align: center;

    }

    .slide img {
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: contain;

    }

    nav {
        text-align: center;
        width: 100%;
    }

    #counter {
        position: absolute;
        right: 0px;
        margin: 20px 15px;
        z-index: 1000;
        text-align: center;

    }

    #percent {
        display: inline-block;
        line-height: 1;
        height: 14px;
        margin-right: 4px;
        vertical-align: middle;
        white-space: nowrap;

    }

    .countIn,
    .count {
        font-family: sans-serif;
        color: #707070;
        font-size: 18px;
        font-weight: 500;
        margin: 0 -.4px;
        display: inline-block;
        vertical-align: middle;

    }



    #orb {
        width: 55px;
        height: 55px;
        overflow: hidden;
        display: inline-block;
        margin: 25px 25px;
        position: fixed;
        z-index: 2147483647;
        background-color: black;
        opacity: 1;
        top: 0px;
        left: 0px;
        cursor: pointer;
        border-radius: 100%;
        transform: rotate(-20deg);
        box-shadow: 1px 1px 25px rgba(255, 255, 255, .2);
        transition: .1s ease;
    }

    #orb:hover {
        box-shadow: 1px 1px 25px rgba(255, 255, 255, .3);
    }

    #orb:after {
        content: '';
        position: absolute;
        top: 15%;
        left: 15%;
        width: calc(70%);
        height: 55%;
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, .0), rgba(255, 255, 255, .0));
        filter: blur(5px);
        border-radius: 100%;

    }

    #info-container {
        display: none;
        z-index: 0;
    }

    .info-grid {
        z-index: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px;
        padding-top: 15px;
        height: calc(100% - 40px);
    }

    .image-container p {
        display: inline-block;
    }

    .image-container {
        vertical-align: top;
        display: inline-block;
        margin: 0px;
    }



    #thumbnails {
        margin: 20px;
        padding-top: 100px;

    }

    .index-left {
        width: 75%;
        float: left;
        position: relative;
    }

    .index-right {
        width: 25%;
        text-align: right
    }

    .row {
        width: 100%;
        overflow: hidden;
        clear: both;
        position: relative
    }

    .row:after {
        content: '...................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 0
    }


    .index-left,
    .index-right {
        display: inline-block;
        padding: 0;
        position: relative;
        z-index: 2
    }

    .block-color {
        background-color: black;
        padding: 0px 6px;
    }

    .index-left span {
        padding-left: 0px;
        margin-left: 0px;
    }





    .block-button {
        font: inherit;
        padding: 0 2ch;
        margin: 0;
        line-height: 2.4;
        background-color: #222;
        color: inherit;
        border: none;
        border-radius: 4px;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        margin-bottom: 1ch
    }

    .block-button:hover {
        filter: invert(100%);
    }

    .block-button.transparent-bg {
        background-color: transparent
    }

    .block-button .dots {
        display: inline-block;
        width: 12px;
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0
    }

    .block-button .dots:last-child {
        left: auto;
        right: 0
    }

    .block-button.no-dots .dots {
        opacity: 0
    }

    .block-button .dots:after,
    .block-button .dots:before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #707070;
        position: absolute;
        display: block;
        left: 4px;
        top: 4px;
        border-radius: 2px;
    }

    .block-button .dots:after {
        bottom: 4px;
        top: auto
    }

    .grey {
        color: #707070;
    }

    #footer {
        padding-top: 100px;
    }

    .arrow {
        font-family: monospace;
        font-weight: inherit;
        padding: 0;
        margin: 0;
    }

    #chatter {
        margin-left: 100px;
        position: absolute;
        top: 35px;
        z-index: 1000
    }

    .indent {
        text-indent: 30px;
    }

    #dark-light {
        cursor: pointer;
    }



    @media (max-width: 1200px) {
        .info-grid {
            grid-template-columns: repeat(1, 1fr);
            margin: 10px 5px 10px 10px;
        }

        #thumbnails {
            margin: 10px;
        }

        #info-container {
            padding-top: 15vh;
        }

        #chatter {
            display: none;
        }

        .countIn {
            display: none;
        }
            #orb {

        margin: 20px 20px;

    }
    }



    .toggle-dark {
        background-color: white;
        color: black;
    }

    #orb.toggle-orb {
        background-color: white;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, .2);
        transform: rotate(140deg);
    }



    #orb.toggle-orb:hover {
        box-shadow: 1px 1px 25px rgba(0, 0, 0, .3);
    }

    #orb.toggle-orb:after {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .1), rgba(0, 0, 0, .0));
        height: 30%;
    }

    .block-button-toggle {
        background-color: #ddd;
    }

    .block-color-toggle {
        background-color: white;
    }