backend:
  name: git-gateway
  branch: main
  repo: johnprovencher/johnprovencher.com
  verbose: true
media_folder: "public/assets"
public_folder: "/assets"
collections:
  - name: "post"
    label: "post"
    folder: "src/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" 
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Tags", name: "tags", widget: "list", default: ["post"]}
      - {label: "Info", name: "info", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Credit", name: "credit", widget: "string", required: false}
      - {label: "Credit Two", name: "credittwo", widget: "string", required: false}
      - {label: "Image Thumb", name: "imagethumb", widget: "image", required: false}
      - {label: "Image Two Thumb", name: "imagetwothumb", widget: "image", required: false}
      - {label: "Image Three Thumb", name: "imagethreethumb", widget: "image", required: false}
      - {label: "Video Thumb", name: "videothumb", widget: "image", required: false}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Image Two", name: "imagetwo", widget: "image", required: false}
      - {label: "Image Three", name: "imagethree", widget: "image", required: false}
      - {label: 'Video', name: 'video', widget: 'file', required: false}
      - {label: "Image Alt", name: "imageAlt", widget: "string", required: false}
      - {label: "Link", name: "link", widget: "string", required: false}
  - name: 'lore' # Collection name
    label: 'lore' # Label shown in Netlify CMS
    files:
      - name: "lore" # You can customize this name
        label: "Lore"
        file: "src/_data/lore.json" # File path where the data is stored
        fields:
          - { name: "info", label: "info", widget: "markdown" }
          - { name: "clients", label: "clients", widget: "markdown" }
          - { name: "cv", label: "cv", widget: "list", allow_add: true, fields: [
              { name: "title", label: "title", widget: "string" },
              { name: "date", label: "date", widget: "string" },
              { name: "link", label: "link", widget: "string", required: false }
            ]}
