---
title: ...
layout: 'base.njk'
---
<div id="meep">
    <div id="orb"></div>
    <a class="block-button" id="chatter" target="_blank" href="mailto:johnprovencher@gmail.com"><abbr class="dots"></abbr> <span id="type"></span> <abbr class="dots"></abbr></a>
</div>
<div id="info-container">
    <div class="info-grid">
        <div class="column">
        </div>
        <div class="column">
            <p class="">john provencher ( b. 1991 ) is an independent designer, generative artist, educator and programmer working in brooklyn, ny ... this website is a work in progress.
            </p>
            <br>
            <p class="">Aliquam elementum efficitur nisl, non interdum sem venenatis in. Curabitur vitae elit nulla. Phasellus vitae lobortis erat. Aliquam elementum efficitur nisl, non interdum sem venenatis in. Curabitur vitae elit nulla. Phasellus vitae lobortis erat.</p>
            <br><br>
            <p class="small">follow</p>
            <a class="block-button" target="_blank" href="https://www.instagram.com/johnprovencher/"><abbr class="dots"></abbr>instagram<abbr class="dots"></abbr></a>
            <a class="block-button" target="_blank" href="https://twitter.com/hahajohnx"><abbr class="dots"></abbr>twitter<abbr class="dots"></abbr></a>
            <br><br>
            <p class="small">websites</p>
            <a class="block-button" target="_blank" href="www.example.com"><abbr class="dots"></abbr>johnx.work<abbr class="dots"></abbr></a>
        </div>
        <div class="column">
            <p>client</p><br>
            <div class="row grey">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <br><br>
            <p>cv</p><br>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
        </div>
    </div>
    <div id="thumbnails">
        {%- for post in collections.post -%}
        <div class="image-container">
            <a href="{{ post.url }}">
                <img src="{{post.data.image}}" alt="{{post.data.alt}}">
                <br>
                <p class="small">{{ post.data.info }}</p>
            </a>
        </div>
        {%- endfor -%}
    </div>
    {% include 'footer.njk' %}
</div>
<div id="slide-container">
    <div id="counter">
    </div>
    <div id="slideshow">
        {%- for post in collections.post -%}
        <div class="slide">
            {% if post.data.video %}
            <video controls='false' muted autoplay="false" loop playsinline>
                <source src="{{ post.data.video }}" type="video/mp4">
                <track label="{{post.data.imageAlt}}" label="English" default>
                Your browser does not support the video tag.
            </video>
            {% else %}
            <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
            {% endif %}
        </div>
        {%- endfor -%}
    </div>
</div>
<script type="text/javascript">
function trackMediaLoading() {
  const mediaElements = document.querySelectorAll('#slideshow img, #slideshow video');
  const totalMediaCount = mediaElements.length;
  let loadedMediaCount = 0;
  const loadedMediaSet = new Set();

  function mediaLoaded() {
    if (!loadedMediaSet.has(this)) {
      loadedMediaSet.add(this);
      loadedMediaCount++;
      console.log(`Media loaded: ${loadedMediaCount}/${totalMediaCount}`);
      if (loadedMediaCount === totalMediaCount) {
        console.log('All media items are loaded!');

          const slideshow = document.getElementById('slideshow');
          slideshow.style.opacity = 1
        // Perform additional actions once all media items are loaded
        // For example, show the slideshow or start playback.
      }
    }
  }

  function videoCanPlayThrough() {
    mediaLoaded.call(this);
    // For videos, use 'canplaythrough' event instead of 'load'
  }

  mediaElements.forEach((media) => {
    if (media.tagName === 'VIDEO') {
      media.addEventListener('canplaythrough', videoCanPlayThrough);
    } else {
      media.addEventListener('load', mediaLoaded);
    }
    // In case the media is already loaded (e.g., cached), check if it's complete
    if (media.complete || media.readyState === 4) {
      mediaLoaded.call(media);
    }
  });
}

// Call the trackMediaLoading function after the slideshow is rendered
trackMediaLoading();
</script>