---
title: ...
layout: 'base.njk'
---
<div id="meep">
    <div id="orb"></div>
    <a class="block-button" id="chatter" target="_blank"><abbr class="dots"></abbr> <span id="type">Loading ...</span> <abbr class="dots"></abbr></a>

    <a class="block-button" id="email" target="_blank" href="mailto:johnprovencher@gmail.com"><abbr class="dots"></abbr> <span id="type"></span> <abbr class="dots"></abbr></a>
</div>
<div id="info-container">
    <div class="info-grid">
        <div class="column">
        </div>
        <div class="column">
            <p class="">info—<br><br>John Provencher (b. 1991) is an independent artist, graphic designer, educator, and programmer based in New York City. In his practice, he inputs code to explore the generative potential of software with outputs both on/offline.
            </p>
            <br>
            <p class="">John operates independently while also engaging in collaborations with select clients and partners. He frequently publishes online ...</p>
            <br><br>
            <p class="small">connect</p>
            <a class="block-button" target="_blank" href="https://www.instagram.com/johnprovencher/"><abbr class="dots"></abbr>instagram<abbr class="dots"></abbr></a>
            <a class="block-button" target="_blank" href="https://twitter.com/hahajohnx"><abbr class="dots"></abbr>twitter<abbr class="dots"></abbr></a>
            <br><br>
            <p class="small">collect</p>
            <a class="block-button" target="_blank" href="www.example.com"><abbr class="dots"></abbr><span class="">johnx.work</span><abbr class="dots"></abbr></a>
            <br><br>
        </div>
        <div class="column grey">
            <p>cv—</p><br>
            <div class="row">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">circle(s), verse</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">new inc, new museum</span></span>
                <span class="index-right"><span class="block-color">2023</span></span>
            </div>
            <div class="row">
                <span class="index-left"><span class="block-color">cage, bright moments</span></span>
                <span class="index-right"><span class="block-color">2022</span></span>
            </div>
            <br><br>
            <p>clients—<br><br> the new york times, nike, prada, alexander wang, the atlantic, bloomberg, the new school, the baffler ...
            </p>
        </div>
    </div>
    <div id="thumbnails">
         <p class="small grey">index ... update 01.01.2024</p>
        {%- for post in collections.post -%}
        {% if post.data.video %}
        <div class="image-container">
            <video class="lozad" controls='false' muted>
                    <source data-src="{{ post.data.video }}" type="video/mp4">
                <track label="{{post.data.imageAlt}}" label="English" default>
                Your browser does not support the video tag.
            </video>
                <br>
                <p class="small">{{ post.data.info }}</p>
        </div>
        {% endif %}
        {% if post.data.image %}
        <div class="image-container">
            <img class="lozad" data-src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
                <br>
                <p class="small">{{ post.data.info }}</p>
        </div>
        {% endif %}
        {%- endfor -%}
    </div>
    {% include 'footer.njk' %}
</div>
<div id="slide-container">
    <div id="counter">
    </div>
        <div id="loader">( you've died )</div>
    <div id="slideshow">
        {%- for post in collections.post -%}
        {% if post.data.video %}
        <div class="slide" style="left:-5000px">
            <video type="video/mp4" controls='false' preload="none" muted autoplay loop playsinline>
                <source src="{{ post.data.video }}" type="video/mp4">
                <track label="{{post.data.imageAlt}}" label="English" default>
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
        {% if post.data.image %}
        <div class="slide">
            <img class="lozad" data-src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
        </div>
        {% endif %}
        {%- endfor -%}
    </div>
</div>