---
title: ...
layout: 'base.njk'
---
<div id="meep">
    <div id="orb"></div>
    <a class="block-button" id="chatter" target="_blank"><abbr class="dots"></abbr> <span id="type">Loading ...</span> <abbr class="dots"></abbr></a>
    <p id="chatterMobile" class="grey small">Loading ...</p>
    <a class="block-button" id="email" target="_blank" href="mailto:johnprovencher@gmail.com"><abbr class="dots"></abbr> <span id="type"></span> <abbr class="dots"></abbr></a>
</div>
<div id="info-container">
    <div class="info-grid">
        <div class="column">
        </div>
        <div class="column">
            <p class="">{{ lore.info }}
            </p>
            <br>
            <p class="grey">{{ lore.clients }}</p>
            <br><br>
            <p class="small">connect</p>
            <a class="block-button" target="_blank" href="https://www.instagram.com/johnprovencher/"><abbr class="dots"></abbr>instagram<abbr class="dots"></abbr></a>
            <a class="block-button" target="_blank" href="https://twitter.com/hahajohnx"><abbr class="dots"></abbr>twitter<abbr class="dots"></abbr></a>
            <br>
            <p class="small"><br>collect</p>
            <a class="block-button" target="_blank" href="www.example.com"><abbr class="dots"></abbr><span class="">johnx.work</span><abbr class="dots"></abbr></a>
            <br><br>
        </div>
        <div class="column">
            {% for item in lore.cv %}
            <div class="row">
                <span class="index-left"><span class="block-color">{{ item.title }}</span></span>
                <span class="index-right"><span class="block-color">{{ item.date }}</span></span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="thumbnails">
        <p class="small grey">index</p>
        {%- for post in collections.post -%}
        {% if post.data.image %}
        <div class="image-container">
            <img class="lozad" data-src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
            <br>
            <p class="small">{{ post.data.info }}</p>
        </div>
        {% endif %}
        {% if post.data.video %}
        <div class="image-container">
            <video class="lozad" controls='false' muted>
                <source data-src="{{ post.data.video }}" type="video/mp4">
                <track label="{{post.data.imageAlt}}" label="English" default>
                Your browser does not support the video tag.
            </video>
            <br>
            <p class="small">{{ post.data.info }}</p>
        </div>
        {% endif %}
        {%- endfor -%}
    </div>
    {% include 'footer.njk' %}
</div>
<div id="slide-container">
    <div id="counter">
    </div>
    <div id="loader">( you've died )</div>
    <div id="slideshow">
        {%- for post in collections.post -%}
        {% if post.data.image %}
        <div class="slide">
            <img class="lozad" data-src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
        </div>
        {% endif %}
        {% if post.data.video %}
        <div class="slide" style="left:-5000px">
            <video type="video/mp4" controls='false' preload="none" muted autoplay loop playsinline>
                <source src="{{ post.data.video }}" type="video/mp4">
                <track label="{{post.data.imageAlt}}" label="English" default>
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
        {%- endfor -%}
    </div>
</div>