---
title: media
layout: 'base.njk'
---
<div id="meep">
    <a href="../../index.html">
        <div id="orb" class="idle" style="opacity: 1;"></div>
    </a>
    <a class="block-button" id="chatter" target="_blank" href="www.example.com"><abbr class="dots"></abbr> <span id="type"> {{ title }} </span> <abbr class="dots"></abbr></a>
</div>
<div id="post-container">
    {%- for post in collections.post | reverse -%}
    {% if post.data.image %}
    <div class="info-grid">
        <div class="column">
            <div class="image-container">
                <img src="{{post.data.image}}" alt="{{post.data.alt}}">
            </div>
        </div>
        <div class="column">
            <p>metadata</p><br>
            <div class="row grey">
                <span class="index-left"><span class="block-color">info</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.info }}</span></span>
            </div>
           {% if post.data.credit %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">credit</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.credit }}</span></span>
            </div>
           {% endif %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">date</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.date }}</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">src</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.image }}</span></span>
            </div>
            <br><br>
            {% if link %}
            <a class="block-button" target="_blank" href="{{ post.data.link }}" download><abbr class="dots"></abbr>link<abbr class="dots"></abbr></a>
            {% endif %}
            <a class="block-button" target="_blank" href="{{ post.data.image }}" download><abbr class="dots"></abbr>download<abbr class="dots"></abbr></a>
        </div>
    </div>
    {% endif %}
    {% if post.data.imagetwo %}
    <div class="info-grid">
        <div class="column">
            <div class="image-container">
                <img src="{{post.data.imagetwo}}" alt="{{post.data.alt}}">
            </div>
        </div>
        <div class="column">
            <p>metadata</p><br>
            <div class="row grey">
                <span class="index-left"><span class="block-color">info</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.info }}</span></span>
            </div>
           {% if post.data.credit %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">credit</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.credit }}</span></span>
            </div>
           {% endif %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">date</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.date }}</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">src</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.imagetwo }}</span></span>
            </div>
            <br><br>
            {% if link %}
            <a class="block-button" target="_blank" href="{{ post.data.link }}" download><abbr class="dots"></abbr>link<abbr class="dots"></abbr></a>
            {% endif %}
            <a class="block-button" target="_blank" href="{{ post.data.imagetwo }}" download><abbr class="dots"></abbr>download<abbr class="dots"></abbr></a>
        </div>
    </div>
    {% endif %}
    {% if post.data.video %}
    <div class="info-grid">
        <div class="column">
            <div class="image-container">
                <video controls="false" muted autoplay="true" loop>
                    <source src="{{ post.data.video }}" type="video/mp4">
                    <track label="{{post.data.imageAlt}}" label="English" default>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="column">
            <p>metadata</p><br>
            <div class="row grey">
                <span class="index-left"><span class="block-color">info</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.info }}</span></span>
            </div>
           {% if post.data.credit %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">credit</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.credit }}</span></span>
            </div>
           {% endif %}
            <div class="row grey">
                <span class="index-left"><span class="block-color">date</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.date }}</span></span>
            </div>
            <div class="row grey">
                <span class="index-left"><span class="block-color">src</span></span>
                <span class="index-right"><span class="block-color">{{ post.data.video }}</span></span>
            </div>
            <br><br>
            {% if link %}
            <a class="block-button" target="_blank" href="{{ post.data.link }}" download><abbr class="dots"></abbr>link<abbr class="dots"></abbr></a>
            {% endif %}
            <a class="block-button" target="_blank" href="{{ post.data.video }}" download><abbr class="dots"></abbr>download<abbr class="dots"></abbr></a>
        </div>
    </div>
    {% endif %}
            {%- endfor -%}

</div>
{% include 'footer.njk' %}
<script type="text/javascript">
    
      var toggleDark = document.getElementById("dark-light");
      var toggleOrb = document.getElementById("orb");
      var blockButton = document.getElementsByClassName("block-button");
      var blockColor = document.getElementsByClassName("block-color");
      var anchorTags = document.querySelectorAll('a:not(.block-button)');

      // Function to enable dark mode
      function enableDarkMode() {
          document.body.classList.add("toggle-dark");
          toggleOrb.classList.add("toggle-orb");
          anchorTags.forEach(function(anchor) {
              anchor.classList.add('toggle-dark');
          });
          for (i = 0; i < blockColor.length; i++) {
              blockColor[i].classList.add("block-color-toggle");
          }
      }

      // Function to disable dark mode
      function disableDarkMode() {
          document.body.classList.remove("toggle-dark");
          toggleOrb.classList.remove("toggle-orb");
          anchorTags.forEach(function(anchor) {
              anchor.classList.remove('toggle-dark');
          });
          for (i = 0; i < blockButton.length; i++) {
              blockButton[i].classList.remove("block-button-toggle");
          }
          for (i = 0; i < blockColor.length; i++) {
              blockColor[i].classList.remove("block-color-toggle");
          }
      }

      var darkModeToggle = document.getElementById('darkModeToggle');
      darkModeToggle.addEventListener('change', () => {
          if (darkModeToggle.checked) {
              enableDarkMode();
          } else {
              disableDarkMode();
          }
      });

</script>